/* Define custom CSS variables */
:root{
    --primary : rgb(207, 35, 70);
    --dark: #1f2937;
    --darkdark: #111827;
    --light: #f3f4f6;

}
/* Global styles for all elements */
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}
/* Styles for the body element */
body {
    background: var(--dark);
    color: var(--light)
}
/* Styles for the .watch container */
 .watch{
    text-align: center;
    background-color: var(--darkdark);
    width: 100% ;
    max-width: 300px;
    margin: 4rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
 }
/* Styles for the .time element */
 .time{
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
 }

/* Styles for the .controls container */
.controls{
    display: Flex;
    align-items: center;
    justify-content: center;

 }
 /* Styles for the buttons inside .controls */
.controls button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;

    color: VAR(--light);
    font-size: 1.125rem;
    background-color: var(--primary);
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    transition: 0.04s;
}
/* Styles for buttons on hover */
button:hover {
    opacity: 0.7;
     
}
/* Styles for buttons on active (when clicked) */
button:active {
    background-color: var(--dark);
}


